<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Sign up page</title>
    
    
</head>
<body>

    <div class="container">
        <form >

            <label for="name"  >Name:</label>
            <input type="text" id="name" required>
            <label for="email" >Email:</label>
            <input type="text" id="email" required>
            <label for="password" >Password:</label>
            <input type="text" id="password" required>
            <button  type="button" id="button">Sign Up</button>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>